<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title></title>

  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600' rel='stylesheet' type='text/css'>

  <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
  <link href="css/ionic.app.css" rel="stylesheet">
  -->


  <!-- google address autocomplete -->

  <script src="https://www.gstatic.com/firebasejs/3.2.0/firebase.js"></script>


  <script type="text/javascript"
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDxZN7Mqb17tRIJvvq3D5_fB8zdzP9dRzg&libraries=places"
          async defer>
  </script>


  <!-- ionic/angularjs js -->
  <script src="lib/ionic/js/ionic.bundle.js"></script>

  <!-- cordova script (this will be a 404 during development) -->
  <script src="cordova.js"></script>


  <!-- your app's js -->
  <script src="js/app.js"></script>
</head>
<body ng-app="starter" ng-init="initAutocomplete()">

<ion-pane>
  <ion-header-bar class="bar-dark">
    <h1 class="title">Price Estimates</h1>
  </ion-header-bar>
  <ion-content ng-controller="HomeCtrl">
    <section ng-init="initAutocomplete()">
      <input id="autocomplete" placeholder="Enter your destination"
             type="text">
      <br>


    </section>
    <center>
      <button class="button button-dark" ng-click="getPrice()">
        <i class="icon ion-model-s"></i>
        Find Ride Prices
      </button>

      <div class="buttonUber">
        <!--<p id="time">ESTIMATING PRICE </p>-->
      </div>

    </center>

    <div class="row header">
      <div class="col">Type</div>
      <div class="col">Time</div>
      <div class="col">Price Estimate</div>
      <div class="col">Surge Multiplier</div>
    </div>
    <div class="row" ng-repeat="price in uberPrices.data">
      <div class="col">{{price.display_name}}</div>
      <div class="col">{{price.duration / 60}} minutes</div>
      <div class="col">{{price.estimate}}</div>
      <div class="col">{{price.surge_multiplier}}</div>
    </div>

    <div class="buttonLyft">
      <!--<p id="time">ESTIMATING PRICE </p>-->
    </div>

  </ion-content>
</ion-pane>
</body>
</html>
