body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}

h1 {
  margin: 0;
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200;
}

section {
  background: rgba(244,244,244,0.8);
  margin: 3% auto;
  padding: 2%;
  text-align: center;
  width: 400px;
  border: 1px solid rgb(209,209,215);
}



.buttonUber {
  background-image: url('../img/UBER_API_Button_2x_Black_RECOMMENDED-2px_round.png');
  background-size: cover;
  width: 280px;
  height: 44px;
  margin: 0 auto;
  opacity: 1;
}

#time {
  text-align: right;
  margin-top: 2%;
  padding-top: 12px;
  padding-right: 14px;
  color: white;
  font-size: medium;
}

#autocomplete {
  size: auto;
  width: 100%;
}

.button {
  text-align: center;

}

.icon {
  float: left;
}

.header .col {
  background-color:lightgrey;
}

.col {
  border: solid 1px grey;
  border-bottom-style: none;
  border-right-style: none;
}

.col:last-child {
  border-right: solid 1px grey;
}

.row:last-child .col {
  border-bottom: solid 1px grey;
}

